{% extends "layout.html" %}

{% block content %}
  <h3> {{ dataValues.title }} <small> (<a href="{{ dataValues.urlTitle }}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{ dataValues.content }}</div>
  <hr/>
  <a href="{{ dataValues.urlTitle }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ dataValues.urlTitle }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
